@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Oswald:wght@400;500&display=swap");

.profileContainer {
  font-family: "Nanum Gothic", sans-serif;
  width: 100%;
}

.profileForm {
  width: 100%;
  padding: 10px;
  position: relative;
}

.profileImg_container {
  padding: 10px;
  width: 100%;
  margin: 20px;
}

.profileImg {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-position: cover;
  border: 1px solid var(--main-border);
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: white;
}

.profile_avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-position: cover;
  border: 1px solid var(--main-border);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: white;
}

.username_container {
  width: 100%;
  margin: 20px;
}

.span_upload {
  font-size: 14px;
  /* text-decoration: underline; */
  color: var(--main-blue);
  font-weight: 500;
  cursor: pointer;
}

.span_upload:hover {
  text-decoration: underline;
}

.formInput {
  width: 100%;
  max-width: 180px;
  padding: 14px;
  border-radius: 25px;
  font-weight: 500;
  background-color: var(--white);
  margin-bottom: 12px;
  font-size: 18px;
  color: black;
  font-family: "Nanum Gothic", sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.formBtn {
  margin: 10px 0;
  padding: 12px 18px;
  border: 1px solid var(--main-border);
  border-radius: 20px;
  background: var(--main-blue);
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
}

.formBtn:hover {
  color: var(--main-blue);
  background: var(--white);
}

.logOut {
  background: var(--white);
  border: 1px solid var(--main-border);
  width: 50px;
  height: 50px;
  text-align: center;
  color: var(--main-red);
  border-radius: 50%;
  font-size: 18px;
}

.logOut:hover {
  background: var(--main-red);
  color: var(--white);
}

.feeds {
  margin-top: 40px;
  width: 100%;
  max-width: 780px;
  margin-bottom: 150px;
}
.feeds h1 {
  font-size: 20px;
  font-weight: 600;
}

.edit_button {
  background: var(--white);
  border: 2px solid var(--main-border);
  text-align: center;
  padding: 8px 20px;
  color: var(--main-black);
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
}

.edit_button:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

.cancel_button {
  position: absolute;
  top: 30px;
  right: 30px;
  background: var(--white);
  border: 2px solid var(--main-border);
  text-align: center;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-black);
  border-radius: 50%;
  font-size: 15px;
  font-weight: 500;
}

.cancel_button:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

.main_profile_container {
  width: 100%;
  max-width: 780px;
  padding: 10px;
  margin-bottom: 20px;
}

.top_column {
  width: 100%;
  padding: 10px;
  justify-content: space-between !important;
  background: linear-gradient(0deg, transparent 20%, #fff1e6 80%);
}

.user_info_container {
  width: 100%;
  align-items: flex-start !important;
  padding: 20px;
}

.user_info_container h1 {
  font-size: 18px;
  font-weight: 600;
  padding: 2px;
}

.user_info_container span {
  font-size: 14px;
  font-weight: 400;
  color: var(--main-black);
  padding: 1px;
}
