@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500;600;700&display=swap");

.feed {
  position: relative;
  width: 90%;
  padding: 20px;
  border: 1px solid var(--main-border);
  margin: 20px 0;
  border-radius: 10px;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.main_content {
  width: 100%;
}

.feed_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user_info {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
  padding: 10px 0;
}

.avatar {
  z-index: 5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-position: cover;
  background: #fff;
  border: 1px solid var(--main-border);
}

.username {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 18px;
  color: var(--main-black);
  font-weight: 600;
  text-align: center;
}
/* 
@media only screen and (max-width: 780px) {
  .username {
    font-size: 15px;
  }
} */

.main_section {
  padding: 15px;
  padding-left: 5px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.feed_text {
  /* padding: 5px;
  padding-top: 0; */
  margin: 10px;
  margin-top: 0;
  font-size: 18px;
  color: var(--main-black);
  font-weight: 400;
}

.feed_img {
  margin: 10px;
  margin-top: 0;
  width: 100%;
  max-width: 400px;
  max-height: 800px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.feed_actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.feed_actions button {
  font-size: 18px;
  color: var(--main-black);
  background: inherit;
  border: none;
  text-align: center;
  display: flex;
  gap: 10px;
  padding: 8px;
  border-radius: 20px;
}

.feed_actions button:hover {
  color: #1da1f2;
  background-color: rgb(230, 243, 255);
}

.feed_actions button span {
  font-size: 14px;
}

.edit_feed {
  padding: 0 10px;
  padding-bottom: 10px;
}

.edit_feed_buttons {
}

.edit_feed_button {
  border: 1px solid var(--main-border);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  margin: 5px;
  background: var(--main-blue);
  color: var(--main-text-color);
}

.edit_feed_button:hover {
  color: var(--main-blue);
  background: var(--white);
}

.cancelBtn {
  background: var(--main-red);
}

.cancelBtn:hover {
  color: var(--main-red);
  background: var(--white);
}

.edit_input {
  width: 100%;
  padding: 15px;
  min-height: 100px;
  font-size: 18px;
  resize: none;
  border: 1px solid var(--main-border);
  border-radius: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nweet__actions {
  padding: 0 20px;
}
/* 
.nweet__actions span:hover {
  padding: 5px;
  border-radius: 50%;
  color: #1da1f2;
  background-color: rgb(230, 243, 255);
} */

.modal_contents {
  padding: 0;
  width: 400px;
  min-width: 300px;
  max-width: 680px;
  background: transparent;
}

.modal_button {
  border: none;
  color: rgb(164 156 156);
  background-color: var(--white);
  border: 0.25px solid var(--main-border);
  width: 100%;
  font-size: 16px;
  padding: 15px;
  font-weight: 400;
}
/* 
.modal_button:hover {
  background: var(--pink);
} */

.delete_btn {
  color: var(--main-red);
}

.first_btn {
  border-radius: 20px 20px 0 0;
  border: 0.5px solid var(--main-border);
}

.last_btn {
  border-radius: 0 0 20px 20px;
  border: 0.5px solid var(--main-border);
}

.date {
  font-size: 13px;
  font-weight: 300;
}

.main_feed {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.happy {
}
.sad {
}
.soso {
}
.funny {
}
.shocked {
}
.angry {
}

/* ----------------------------------------------
 * Generated by Animista on 2021-9-20 11:29:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tracking-out-expand-fwd {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 0.3em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
}
@keyframes tracking-out-expand-fwd {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 0.3em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
}

.tracking-out-expand-fwd {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  -webkit-animation: tracking-out-expand-fwd 2s ease-in-out infinite both;
  animation: tracking-out-expand-fwd 2s ease-in-out infinite both;
}
