@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700&display=swap");

.factoryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 100px 0;
  max-width: 580px;
}

.factoryInput__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.factoryInput__input {
  flex-grow: 1;
  color: var(--main-black);
  font-weight: 500;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  resize: none;
  border: 1px solid var(--main-border);
  border-radius: 20px;
  min-height: 150px;
  margin: 0 10px;
}

.factoryInput__arrow {
  background-color: var(--main-blue);
  border: none;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  color: white;
  margin-top: 40px;
  font-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.factoryInput__label {
  color: var(--main-black);
  cursor: pointer;
  font-size: 30px;
}
/* 
.factoryInput__label span {
  margin-right: 10px;
  font-size: 12px;
} */

.factoryForm__attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.factoryForm__attachment img {
  height: 200px;
  width: 100%;
  max-width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.factoryForm__clear {
  margin: 10px 0;
  color: var(--main-black);
  cursor: pointer;
  text-align: center;
  font-size: 20px;
}

.factoryForm__clear span {
  margin-right: 10px;
  font-size: 12px;
}

select {
  padding: 10px 5px;
  border: 1px solid var(--main-border);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Prompt", sans-serif;
  text-align: center;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.yourFeeling {
  padding: 20px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  gap: 10px;
  font-family: "Dancing Script", cursive;
}

.gif_player {
  border-radius: 20px;
  overflow: hidden;
  max-width: 480px;
  min-height: 150px;
}
